<!--<div class="background-feedback">-->
<!--<div class="container">-->
<!--<div class="main-feedback">-->
<!--<div class="left-feedback">-->
<!--<div class="title"><h1>Contact Us</h1></div>-->
<!--<form [formGroup]="feedbackForm" (ngSubmit)="onSend()">-->
<!--<input type="text" placeholder="Name" formControlName="name">-->
<!--<div class="alert p-1" role="alert"-->
<!--*ngIf="feedbackForm.get('name').invalid && feedbackForm.get('name').touched">-->
<!--Name is required!-->
<!--</div>-->
<!--<input type="email" placeholder="Email" formControlName="email">-->
<!--<div class="alert p-1" role="alert"-->
<!--*ngIf="feedbackForm.get('email').invalid && feedbackForm.get('email').touched">-->
<!--Invalid Email!-->
<!--</div>-->
<!--<textarea placeholder="Message" rows="4" formControlName="feedback"></textarea>-->
<!--<input type="submit" value="Send">-->
<!--</form>-->
<!--</div>-->
<!--<div class="right-feedback">-->
<!--<div class="content">-->
<!--<div class="row">-->
<!--<p><i class="fas fa-map-marker-alt"></i>Nhà số 23, Lô TT01, Đường Hàm Nghi, Khu đô thị Mon City, Mỹ Đình 2,-->
<!--Nam Từ Liêm, Hà Nội.</p>-->
<!--</div>-->
<!--<div class="row">-->
<!--<p><i class="far fa-envelope"></i>fourhorsemen987@gmail.com</p>-->
<!--</div>-->
<!--<div class="row">-->
<!--<p><i class="fas fa-mobile-alt"></i>+84 - 123456789</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="background-feedback">
  <div class="container">
    <form class="form" [formGroup]="feedbackForm" (ngSubmit)="onSend()">
      <h2>CONTACT US</h2>
      <p type="Name:"><input class="name" placeholder="Write your name here.." formControlName="name"></p>
      <span class="alert p-1" role="alert"
            *ngIf="feedbackForm.get('name').invalid && feedbackForm.get('name').touched">
        Name is required!
      </span>
      <p type="Email:">
        <input class="email" placeholder="Let us know how to contact you back.." formControlName="email">
      </p>
      <span class="alert p-1" role="alert"
            *ngIf="feedbackForm.get('email').invalid && feedbackForm.get('email').touched">
        Invalid Email!
      </span>
      <p type="Message:"><textarea class="feedback" placeholder="What would you like to tell us.."
                                   formControlName="feedback"></textarea>
      </p>
      <button>Send Message</button>
      <div class="info">
        <span class="fas fa-phone"></span>+84 - 123456789
        <span class="far fa-envelope"></span> fourhorsemen987@gmail.com
      </div>
    </form>
  </div>
</div>

