<div class="register">
  <div class="container-fluid">
    <form class="register-form">
      <h1>Sign up</h1>
      <div class="row">
        <div class="col-12">
          <input type="text" placeholder="Username">
        </div>
        <div class="col-12 input-form">
          <input type="password" placeholder="Password">
        </div>
        <div class="col-12 input-form">
          <input type="password" placeholder="Confirm Password">
        </div>
        <div class="col-12 input-form">
          <input type="email" placeholder="Email">
        </div>
        <div class="col-12 input-form">
          <input type="text" placeholder="Phone">
        </div>
        <div class="col-12">
          <label><input type="radio" formControlName="gender" value="1">Male</label>
          <label><input type="radio" formControlName="gender" value="2">Female</label>
          <label><input type="radio" formControlName="gender" value="3">Other</label>
        </div>
        <div class="col-12">
          <input type="submit" value="Register" id="register" (submit)="onSubmit()">
        </div>
      </div>
    </form>
  </div>
</div>


