<table class="table-bordered table table-hover">
  <thead>
  <tr>
    <td>Song list</td>
  </tr>
  </thead>
  <tr class="listSong" *ngFor="let song of service.list">

    <td (click)="populateForm(song)">{{song.name}}</td>
  </tr>

</table>




<div class='player'>
  <audio src= '{{service.formData.songUrl}}' required></audio>
  <img src='{{service.formData.imageUrl}}'/>
  <div class='info'>
    <div class='name'>{{service.formData.name}}</div>
  </div>
  <div class='btns'>
    <div class="iconfont play-pause icon-play"></div>
  </div>
  <div class='progress'>

  </div>
</div>
